/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 16 Feb 2025, 11:07:18 pm
    Author     : SHABI
*/

#backButton {
    position: fixed;
    
    left: 20px;
    color: #444;
    text-decoration: none;
    font-size: 24px;
 
}
#backButton i {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: text-shadow 0.3s ease-in-out;
}

#backButton:hover i {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

#backButton:hover{
    color:#666666;
}